services:
  app:
    build: .
    ports:
      - "${PORT:-3000}:3000"
    volumes:
      - ./src:/app/src
    command: ["node", "--watch", "--experimental-strip-types", "src/server.ts"]
    environment:
      PORT: 3000
      NODE_ENV: development
      MONGODB_URI: mongodb://${MONGODB_USER}:${MONGODB_PASSWORD}@mongodb:27017/${MONGODB_NAME}?authSource=admin
      RABBITMQ_URI: amqp://${RABBITMQ_USER:-guest}:${RABBITMQ_PASSWORD:-guest}@rabbitmq:${RABBITMQ_PORT:-5672}/${RABBITMQ_VHOST:-}
    env_file:
      - .env
    depends_on:
      mongodb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  mongodb:
    image: mongo:7
    ports:
      - "${MONGODB_PORT:-27017}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USER:-root}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PASSWORD}
      MONGODB_USER: ${MONGODB_USER:-root}
      MONGODB_PASSWORD: ${MONGODB_PASSWORD}
    volumes:
      - mongodb_data:/data/db
    healthcheck:
      test: ["CMD", "sh", "-c", "mongosh -u $$MONGODB_USER -p $$MONGODB_PASSWORD --authenticationDatabase admin --eval \"db.adminCommand('ping')\""]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "${RABBITMQ_PORT:-5672}:5672"   # AMQP
      - "${RABBITMQ_MANAGEMENT_PORT:-15672}:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER:-guest}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD:-guest}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  mongodb_data:
  rabbitmq_data:
